<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Main</h2>
<ul>
    <li><a th:text="${checkDTO.getUsername()}">이름</a></li>
    <li><a th:text="${checkDTO.getRole()}">역할</a></li>
</ul>
<button type="button" onclick="logout()">로그 아웃</button>
<button type="button" onclick="adminPage()">관리자 페이지</button>
<button type="button" onclick="userPage()">사용자 페이지</button>
</body>
<script>
    function logout() {
        fetch('/logout',{
            method:'POST'
        })
    }

    function adminPage() {
        window.location.href='/admin';
    }

    function userPage(){
        window.location.href = '/user';
    }
</script>
</html>
