<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Main</h2>
<ul>
    <li><a>이름</a></li>
    <li><a>역할</a></li>
</ul>
<button type="button" onclick="logout()">로그 아웃</button>
<button type="button" onclick="adminPage()">관리자 페이지</button>
<button type="button" onclick="userPage()">사용자 페이지</button>
</body>
<script>
    function logout() {
        fetch('/logout',{
            method:'POST'
        })
    }

    function adminPage(){
        fetch('/admin',{
            method:'POST'
        })
    }

    function userPage(){
        fetch('/user',{
            method:'POST'
        })
    }
</script>
</html>
